@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,400i');
* {
	font-family: 'Titillium Web',sans-serif;
}

.navbar {
	padding: 1.3rem 1rem;
}

#mainNav {
	background-color: transparent;
	border-color: transparent;
}

.header{
	top: -30;
	background-image: url('../img/Car.jpg');
	/*background-attachment: fixed;*/
	background-size: cover;
	background-position: center;
}

.overlay{
	/*position: absolute;*/
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(244, 244, 244, 0.79);
}

.footer {
	padding: 30px;
	background-color: #010101;
	color: #fafafa;
}